Repository santosr2/uptool: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, license-eye-check, mkdocs-build

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$, but not: ^(\.mise/|vendor/|dist/|\.terraform/|node_modules/)
  license-eye-check: any of: \.(go)$, but not: ^(\.mise/|vendor/|dist/|\.terraform/|node_modules/)
  mkdocs-build: any of: ^(docs/|mkdocs\.yml), but not: ^(\.mise/|vendor/|dist/|\.terraform/|node_modules/)

fix: policy.pin behavior, it should not block updates
  examples/uptool.yaml
  internal/resolve/semver.go
  internal/resolve/semver_test.go
  uptool.yaml
Due: license-eye-check

feat: add support for policy.enabled field
  cmd/uptool/cmd/helpers.go
  cmd/uptool/cmd/helpers_test.go
  docs/configuration.md
  examples/uptool.yaml
  internal/engine/types.go
Due: license-eye-check, mkdocs-build

feat: set default config for integrations that aren't set in config file
  cmd/uptool/cmd/helpers.go
  cmd/uptool/cmd/helpers_test.go
Due: license-eye-check

feat: add match.exclude support
  docs/configuration.md
  examples/uptool.yaml
  internal/engine/engine.go
  internal/engine/engine_test.go
  internal/engine/types.go
  internal/policy/config.go
  internal/policy/config_test.go
Due: license-eye-check, mkdocs-build

ci(self-update-check): improve view all updates table
  .github/workflows/self-update-check.yml
Due: actionlint

feat: add support for `--config` flag
  README.md
  action.yml
  cmd/uptool/cmd/helpers.go
  cmd/uptool/cmd/root.go
  docs/action-usage.md
  docs/configuration.md
Due: license-eye-check, mkdocs-build

chore: improve plugins folders organization
  README.md
  examples/plugins/guards/README.md
  examples/plugins/guards/custom/slack_approval.go
  examples/plugins/integrations/python/Makefile
  examples/plugins/integrations/python/README.md
  examples/plugins/integrations/python/build.sh
  examples/plugins/integrations/python/go.mod
  examples/plugins/integrations/python/go.sum
  examples/plugins/integrations/python/integration.go
  examples/plugins/integrations/python/integration_test.go
  examples/plugins/integrations/python/main.go
  examples/plugins/integrations/python/parser.go
  examples/plugins/integrations/python/pypi.go
  examples/plugins/integrations/python/testdata/requirements.txt
Due: license-eye-check

docs: update Plan references
  CONTRIBUTING.md
  README.md
  docs/action-usage.md
  docs/architecture.md
  docs/configuration.md
  docs/plugin-development.md
  docs/policy.md
  examples/plugins/README.md
  examples/uptool.yaml
  integrations.yaml
  internal/engine/types.go
  internal/policy/config.go
Due: license-eye-check, mkdocs-build

chore: fix golangci finds and add more tests
  internal/engine/engine_test.go
  internal/integrations/helm/helm_test.go
  internal/integrations/precommit/precommit_test.go
  internal/integrations/terraform/terraform_test.go
  internal/policy/cadence_test.go
  internal/policy/config_test.go
  internal/policy/enforcement_test.go
  internal/policy/guards/builtin/builtin_test.go
  internal/registry/registry_test.go
Due: license-eye-check

chore: add tests and change configuration to have >80% coverage
  .codecov.yml
  .github/workflows/ci.yml
  .gitignore
  CONTRIBUTING.md
  docs/architecture.md
  docs/plugin-development.md
  internal/datasource/datasource_test.go
  internal/integrations/registry_test.go
  internal/policy/guards/builtin/builtin_test.go
  internal/secureio/secureio_test.go
  internal/version/version_test.go
  mise.toml
Due: actionlint, license-eye-check, mkdocs-build

feat: add Docker and GitHub Action support
  integrations.yaml
  internal/datasource/dockerhub.go
  internal/datasource/dockerhub_test.go
  internal/integrations/actions/actions.go
  internal/integrations/actions/actions_test.go
  internal/integrations/all/all.go
  internal/integrations/docker/docker.go
  internal/integrations/docker/docker_test.go
Due: license-eye-check

docs: update to reflect the new integrations (Docker & GitHub Actions)
  README.md
  docs/index.md
  docs/integrations/README.md
  docs/integrations/actions.md
  docs/integrations/docker.md
  docs/overview.md
  mkdocs.yml
Due: mkdocs-build

chore(bumpversion): fix python integration plugin path
  .bumpversion.toml
Due: none

ci(pre-release): create tags before changelog notes
  .github/workflows/pre-release.yml
Due: actionlint

ci(pre-release): use HEAD instead new tag for changelog notes
  .github/workflows/pre-release.yml
Due: actionlint

ci(pre-release): fix github token when triggering docker workflow
  .github/workflows/pre-release.yml
Due: actionlint

ci(coverage): reduce coverage threshould to 70 for while
  .github/workflows/ci.yml
Due: actionlint

feat: add core Dependabot features to support smooth migration
  action.yml
  cmd/uptool/cmd/migrate.go
  examples/plugins/integrations/python/go.mod
  examples/plugins/integrations/python/go.sum
  examples/uptool.yaml
  git-cliff.toml
  go.mod
  internal/dependabot/config.go
  internal/dependabot/config_test.go
  internal/dependabot/migrate.go
  internal/dependabot/migrate_test.go
  internal/engine/engine.go
  internal/engine/filter.go
  internal/engine/filter_test.go
  internal/engine/schedule.go
  internal/engine/schedule_test.go
  internal/engine/types.go
  internal/policy/config.go
  internal/policy/config_test.go
Due: license-eye-check

ci(security): skip secrets check on test files
  .github/workflows/security.yml
Due: actionlint

feat(integration): add support for golang
  .golangci.yml
  integrations.yaml
  internal/datasource/go.go
  internal/integrations/all/all.go
  internal/integrations/gomod/gomod.go
  internal/integrations/gomod/gomod_test.go
  internal/registry/go.go
  internal/registry/go_test.go
Due: license-eye-check

chore: changes based on golangci-lint
  cmd/uptool/cmd/helpers.go
  internal/dependabot/config.go
  internal/dependabot/config_test.go
  internal/dependabot/migrate.go
  internal/dependabot/migrate_test.go
  internal/engine/filter.go
  internal/engine/filter_test.go
  internal/engine/types.go
  internal/policy/config.go
  internal/resolve/semver.go
  internal/resolve/semver_test.go
Due: license-eye-check

chore: add configuration schema
  .github/actions/setup-mise/action.yml
  docs/configuration.md
  examples/uptool-minimal.yaml
  examples/uptool.yaml
  schemas/uptool.schema.json
Due: mkdocs-build
